button{
    border: 1px solid purple;
    width: 70px;
    height: 30px;
    background-color: purple;
    color: white;
    margin: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}
button:hover{
    background-color: rgb(73, 14, 73);
}