.header{
    background-color: rgb(34, 114, 114);
    height: 170px;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.header-title{
    margin: 0 auto;
    padding-top: 50px;
    color: white;
}